bin
.cache
include/Equelle.def
include/Equelle-parenthesize.str
include/Equelle-Permissive.def
include/Equelle.generated.pp.af
include/Equelle.packed.esv
include/Equelle.pp.af
include/Equelle.rtg
include/Equelle.str
include/Equelle.tbl
include/equelle.rtree
include/equelle.ctree
include/equelle.ctree.dep
include/equelle.jar
editor/java/trans
editor/Equelle-*.generated.esv
syntax/Equelle*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
