<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="equ" description="Equelle" language="Equelle" derivedFrom="DynamicRoot" validator="no.sintef.stwt.equelle.EquelleValidator" validatorClass="no.sintef.stwt.equelle.EquelleValidator"></language>
       </extension>
       <extension id="no.sintef.stwt.equelle.parser" name="Equelle Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="no.sintef.stwt.equelle.EquelleParseController" language="Equelle">
          </parser>
       </extension>    
    </plugin>