div#eqks-equelle-compiler {
    height: 80%;
}
div#eqks-equelle-editor {
    height: 100%;
}
div.eqks-equelle-error {
    margin-top: 1em;
}
div.eqks-equelle-error > pre {
    color: inherit;
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
}
