div.eqks-input-file {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}

div.eqks-input-file-status-icon {
    text-align: right;
}

div.eqks-input-file.dz-drag-hover {
    background-color: #eee;
}

div.eqks-input-file b {
    cursor: pointer;
}
div.eqks-input-grid-dimension-size-separator {
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
}
